<form method="POST">
    <label for="username">username:</label>
    <input type = "text" name="username" required><br>

    <h1>Preferences:</h1>
    <h2>Select only 3 options!<h2><br>
    
    <input type="checkbox" id="p1" name="p1" value="1">
    <label for="p1">Comedy</label><br>
    <input type="checkbox" id="p2" name="p2" value="2">
    <label for="p2">Drama</label><br>
    <input type="checkbox" id="p3" name="p3" value="3">
    <label for="p3">Sci-Fi</label><br>
    <input type="checkbox" id="p4" name="p4" value="4">
    <label for="p4">Romantic</label><br>
    <input type="checkbox" id="p5" name="p5" value="5">
    <label for="p5">Adventure</label><br>

    <input type="radio" id="order1" name="order" value="Ascending" required>
    <label for="order1">Ascending</label><br>
    <input type="radio" id="order2" name="order" value="Descending" required>
    <label for="order2">Descending</label><br>

    <input type="submit">
</form>